form.register {
  border: 1px solid #2c423f;
  border-bottom: 1px solid #2c423f;
  width: 40%;
  margin: 2em auto 0;
  margin-bottom: 2em;
  text-align: center;
  padding-bottom: 10px;
}

.register fieldset {
  border-radius: 0.3em;
  padding: 0.8em;
  background-color: #ffffff;
  transform: translate(0, 0.5em);
}

.register h2 {
  padding-top: 0;
  border-bottom: none;
  transform: translate(0, 0.5em);
}

.register p {
  padding-top: 0;
}

.register input {
  flex: 0 1 100%;
  outline: 0;
  border-width: 0 0 2px;
  padding: 0.3em;
  border-left: 0.3em #949b96;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  transform: translate(0, 0.5em);
}

.register select {
  border-color: black;
  transform: translate(0, 0.5em);
}

.register button {
  color: white;
  border: none;
  border-radius: 0.3em;
  padding: 0.6em 1.2em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 60%;
  outline: none;
  transform: translate(0, 0.5em);
}

.register i {
  padding: 0.55em;
  top: 0.75em;
  line-height: 2.5em;
  height: 2.5em;
  vertical-align: middle;
  position: relative;
}

.register a {
  color: #007bff;
  transform: translate(0, 0.5em);
}

.register a:hover {
  cursor: pointer;
  transform: translate(0, 0.5em);
}

.register .field {
  display: flex;
  padding-bottom: 0;
}

/* errors  */

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}
