<form [formGroup]="form" class="register" (ngSubmit)="registerHandler()">

  <fieldset>
    <h2>Registration</h2>

    <!-- username -->
    <p class="field field-icon">
      <label for="username"><span><i class="bi bi-person-badge-fill"></i></span></label>
      <input class="input-error" type="text" formControlName="username" id="username" placeholder="Ivan">
    </p>
    <ng-container *ngIf="form.get('username')?.touched">
      <div *ngIf="form.get('username')?.errors?.['required']" class="alert alert-danger">
        Username is required!
      </div>
      <div *ngIf="form.get('username')?.errors?.['minlength']" class="alert alert-danger">
        Username should be longer than 5 chars
      </div>
    </ng-container>

    <!-- email -->
    <p class="field field-icon">
      <label for="email"><span><i class="bi bi-envelope-at-fill"></i></span></label>
      <input type="email" formControlName="email" id="email" placeholder="ivan@abv.bg">
    </p>
    <ng-container *ngIf="form.get('email')?.touched">
      <div class="alert alert-danger" *ngIf="form.get('email')?.errors?.['required']">
        Email is required!
      </div>
      <div class="alert alert-danger" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
        Email is not valid!
      </div>
    </ng-container>

    <!-- password -->
    <ng-container formGroupName="pass">
      <p class="field field-icon">
        <label for="password"><span><i class="bi bi-key-fill"></i></span></label>
        <input type="password" formControlName="password" id="password" placeholder="******">
      </p>
      <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
        <div class="alert alert-danger" *ngIf="form.get('pass')?.get('password')?.errors?.['required']">
          Password is required!
        </div>
        <div class="alert alert-danger" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">
          Password must be at least 5 characters!
        </div>
      </ng-container>

      <!-- rePassword -->
      <p class="field field-icon">
        <label for="rePassword"><span><i class="bi bi-key-fill"></i></span></label>
        <input type="password" formControlName="rePassword" id="rePassword" placeholder="******">
      </p>

      <div *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('rePassword')?.touched"
        class="alert alert-danger">Repeat Password does not match
        password!</div>
    </ng-container>
    <button [disabled]="form.invalid">Create Account</button>
  </fieldset>
</form>