.new-post {
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: #C5C5C5;
    border-radius: 15px;
    border:  solid #4C5B61 3px;
    display: flex;
    height: 4.5rem;
}
.field {
    margin-left: 1rem;
}

.alert {
    margin-left: 4rem;
    margin-right: 4rem;
}

input {
    margin-left: 0.5rem;
    outline: 0;
    border-width: 0 0 2px;
    border-radius: 15px;
    padding: 0.3em;
}

button {
    margin-left: 1rem;
    width: 7rem;
    border-radius: 15px;
    height: 2.35rem;
    color: white
}
