<form ngForm #form="ngForm" (ngSubmit)="subscriptionHandler(form)" class="new-subscription align-items-center">
    <div class="field">
        <label for="Months">Months</label>
        <input type="number" (ngModelChange)="getPrice(form)" ngModel #monthsInput="ngModel" min="1" required
            id="months" name="months">
    </div>
    <div class="field">
        <label for="Price">Price</label>
        <input ngModel #moneyPaidInput="ngModel" disabled="true" required id="moneyPaid" name="moneyPaid" value="{{currentPrice | currency}}">
    </div>
    <button type="submit">Buy</button>
</form>
<div class="alert alert-danger" *ngIf="isFormInvalid">
    Please choose months.
</div>