<form #form="ngForm" class="login" (ngSubmit)="loginHandler(form)">
  <fieldset>
    <h2>Login Form</h2>

    <div class="form-group">
      <label for="email"><i class="envelope-at-fill"></i></label>
      <input #emailInput="ngModel" class="form-control" ngModel required type="text" name="email" id="email" placeholder="ivan@abv.bg">
    </div>

    <ng-container *ngIf="emailInput.touched">
      <div class="alert alert-danger" *ngIf="emailInput.errors?.['required']">
        Email is required!
      </div>
      <div class="alert alert-danger" *ngIf="emailInput.errors?.['appEmailValidator']">
        Email is not valid!
      </div>
    </ng-container>

    <div class="form-group">
      <label for="password"><i class="fas fa-lock"></i></label>
      <input type="password" ngModel #passwordInput="ngModel" name="password" id="password" placeholder="******" required [minlength]="5">
    </div>
    <ng-container *ngIf="passwordInput.touched">
      <div class="alert alert-danger" *ngIf="passwordInput.errors?.['required']">
        Password is required!
      </div>
      <div class="alert alert-danger" *ngIf="passwordInput.errors?.['minlength']">
        Password must be at least 5 characters!
      </div>
    </ng-container>
    <div class="alert alert-danger" ngModel="loginError">{{loginError}}</div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>

    <p class="text-center mt-3">
      Have an account?
      <a href="#">Register</a>
    </p>

  </fieldset>
</form>
