<form #form="ngForm" class="login" (ngSubmit)="loginHandler(form)">
  <fieldset>
    <h2>Login</h2>

    <p class="field field-icon">
      <label for="email"><span><i class="bi bi-envelope-at-fill"></i></span></label>
      <input #emailInput="ngModel" ngModel required name="email" id="email" placeholder="ivan@abv.bg">
    </p>

    <ng-container *ngIf="emailInput.touched">
      <div class="alert alert-danger" *ngIf="emailInput.errors?.['required']">
        Email is required!
      </div>
      <div class="alert alert-danger" *ngIf="emailInput.errors?.['appEmailValidator']">
        Email is not valid!
      </div>
    </ng-container>

    <p class="field field-icon">
      <label for="password"><span><i class="bi bi-key-fill"></i></span></label>
      <input type="password" ngModel #passwordInput="ngModel" name="password" id="password" placeholder="******" required [minlength]="5">
    </p>
    <ng-container *ngIf="passwordInput.touched">
      <div class="alert alert-danger" *ngIf="passwordInput.errors?.['required']">
        Password is required!
      </div>
      <div class="alert alert-danger" *ngIf="passwordInput.errors?.['minlength']">
        Password must be at least 5 characters!
      </div>
    </ng-container>
    <div *ngIf="loginError" class="alert alert-danger" ngModel="loginError">{{loginError}}</div>

    <button type="submit" [disabled]="form.invalid">Login</button>

  </fieldset>
</form>
