form.login, form.register {
  border: 1px solid #2C423F;
  border-bottom: 1px solid #2C423F;
  width: 40%;
  margin: 2em auto 0;
  text-align: center;
  padding-bottom: 10px;
} 
.login fieldset, .register fieldset {
  padding: 2em;
  background-color: #ffffff;
  transform: translate(0, 0.5em);
}

.login h2, .register h2 {
  padding-top: 0;
  border-bottom: none;
  transform: translate(0, 0.5em);
}

.login p, .register p {
  padding-top: 0;
}

.login input, .register input {
  flex: 0 1 100%;
  outline: 0;
  border-width: 0 0 2px;
  padding: 0.3em;
  border-left: 0.3em #949B96;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  transform: translate(0, 0.5em);
}

.login select, .register select {
  border-color: black;
  transform: translate(0, 0.5em);
}

.login button, .register button {
  color: white;
  border: none;
  padding: 0.6em 1.2em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 60%;
  outline: none;
  transform: translate(0, 0.5em);
}

.login i, .register i {
  padding: 0.55em;
  top: 0.75em;
  line-height: 2.5em;
  height: 2.5em;
  vertical-align: middle;
  position: relative;
}

.login a, .register a {
  color: #007bff;
  transform: translate(0, 0.5em);
}

.login a:hover, .register a:hover {
  cursor: pointer;
  transform: translate(0, 0.5em);
}

.login .field, .register .field {
  display: flex;
  padding-bottom: 0;
}

/* errors  */

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}
