.price-table {
    margin-top: 3rem;
    background-color: #4C5B61;
    border:  solid #949B96 3px;
    width: 100%;
}
.price-position{
    margin-left: 4rem;
    margin-right: 4rem;
}

.price-moneyPaid {
    text-align: end;
}
.no-prices {
    text-align: center;
}

th {
    color: white
}