header {
    background:url(https://www.colorsled.com/project/24.2.png);
    background-size: cover;
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 79%;
    margin: auto;
}

header ul span {
    color: white;
    padding: 0.5em;
}

.mini-navbar ul {
    border: 1px solid #31b9e7;
    border-radius: 0.3em;
    padding-left: 0;
    width: 100%;
}

header li {
    list-style: none;
    padding: 0 .95em;
    font-size: larger;
}
header li:hover {
    background-color: #4C5B61;
}

header a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

nav {
    border-top: 1px solid #4C5B61;
    border-bottom: 10px solid #4C5B61;
}

.logo {
    font-size: 1.5em;
    color: white;
    padding-bottom: 0;
    background-color: #07d5f9;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.logo-wrap {
    font-family: Stencil Std, fantasy;
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}

/* mini-navbar */

.mini-navbar ul {
    display: flex;
    background-color: #6ba1b8;
    border-radius: 5px;
}

.mini-navbar ul li+li {
    border-left: 1px solid lightgrey;
    padding-left: .5em;
}

.auth {
    align-self: flex-end;
    padding: 0;
    display: flex;
}