<form ngForm #form="ngForm" (ngSubmit)="priceHandler(form)" class="new-price align-items-center">
    <div class="field">
        <label for="Months">Months</label>
        <input type="number" min="1" required [disabled]="form.value.isDefaultPrice === true" ngModel
            #monthsInput="ngModel" id="months" name="months">
    </div>
    <div class="field">
        <label for="Amount">Amount</label>
        <input ngModel #amountInput="ngModel" required id="amount" name="amount" class="amount">
    </div>
    <div class="field">
        <label for="IsDefaultPrice">Default price</label>
        <input type="radio" (ngModelChange)="radioChanged(form)" required ngModel #isDefaultPriceInput="ngModel"
            [value]="true" name="isDefaultPrice" />
        <label>Yes</label>
        <input type="radio" required ngModel #isDefaultPriceInput="ngModel" [value]="false" name="isDefaultPrice" />
        <label>No</label>
    </div>
    <button type="submit">Add</button>
</form>
<div class="alert alert-danger" *ngIf="isFormInvalid">
    Please fill all available fields.
</div>